# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# AWS Amplify
amplify/#current-cloud-backend
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
amplify/backend/team-provider-info.json

# Environment variables
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# misc
.env.development.local
.env.test.local
.env.production.local

amplify_outputs.json